projects/wscalculate/src/main/resources/wsdl/wscalc.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wssuma.ws.demos.fuse.redhat.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="AddEndpointService" targetNamespace="http://wssuma.ws.demos.fuse.redhat.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://wssuma.ws.demos.fuse.redhat.com/"
			elementFormDefault="unqualified" targetNamespace="http://wssuma.ws.demos.fuse.redhat.com/"
			version="1.0">
			<xs:element name="calculate" type="tns:calculateDTO" />
			<xs:element name="calculateResponse" type="tns:calculateResponse" />
			<xs:complexType name="calculateDTO">
				<xs:sequence>
					<xs:element name="operType" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xs:element name="sender" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="cuerpo" type="xsd:anyType" minOccurs="1" maxOccurs="1" nillable="false"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="calculateResponse">
				<xs:sequence>
					<xsd:element name="operationId" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            		<xsd:element name="responseObject" type="xsd:anyType" minOccurs="1" maxOccurs="1" nillable="false"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="calculateResponse">
		<wsdl:part element="tns:calculateResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="calculate">
		<wsdl:part element="tns:calculate" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalculateEndpoint">
		<wsdl:operation name="calculate">
			<wsdl:input message="tns:calculate" name="calculate"></wsdl:input>
			<wsdl:output message="tns:calculateResponse" name="calculateResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculateEndpointServiceSoapBinding" type="tns:CalculateEndpoint">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="calculate">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="calculate">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="calculateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculateEndpointService">
		<wsdl:port binding="tns:CalculateEndpointServiceSoapBinding" name="CalculateEndpointPort">
			<soap:address location="http://localhost:9001/calculate/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
